.main {
    padding: 100px;
    width: 1250px;
}

.slider { 
    height: 415px;
    width: 1240px;
    position: relative;
}

.infos {
    display: flex;
    color: #FF6A6A;
    justify-content: space-between;
}

.flat {
    max-width: 40%;
}

.title {
    font-size: 36px;
}

.location {
    font-size: 18px;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    padding: 5px 30px;
    font-size: 14px;
}

.intel {
    display: flex;
}

.intel span {
    max-width: 100px;
}

.intel img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.rating {
    display: flex;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}