.apartments {
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px;
    margin: 20px 60px;
    border-radius: 15px;
    justify-items: center;
}

@media only screen and (max-width: 420px) {
    .apartments {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 0;
    }
}