.logo__container a img {
    width: 210px;
    height: 68px;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    margin-bottom: 20px;
}

.links__container {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 50px;
}

.links__container li a {
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
}

.links__container li a[class='active'], .links__container li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:420px) {
    .logo__container a img {
        width: 145px;
        height: 47px;
    }
    .banner {
        padding: 30px 10px;
    }
    .links__container li a {
        font-size: 18px;
    }
}