.container {
    width: 100%;
    max-height: 210px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0 30px 0;
    margin-top: 50px;
}

.container p {
    font-size: 24px;
}

.logo {
    width: 122px;
    height: 40px;
}

@media only screen and (max-width:420px) {
    .container p {
        font-size: 12px;
    }
}